<div class="empty-cart-message" *ngIf="cart.length === 0">
    <h2>You've not add product to Cart Yet.</h2>
</div>
<div *ngIf="cart.length > 0">
    <form class="form-margin" #form="ngForm" (ngSubmit)="submitForm()">
        <div class="cart-container">
            <div class="cart-panel">
                <app-cart-item *ngFor="let c of cart" [cartItem]="c" (cartEvent)="updateChange($event)"></app-cart-item>
                <div>
                    <h4>Total Price: {{ total.toFixed(2) }}</h4>
                </div>
            </div>
            <div class="cart-panel">
                <div class="field">
                    <label for="fullname">Full name</label>
                    <input type="text" name="fullname" id="fullname" [(ngModel)]="fullname" required minlength="3" pattern="[a-zA-Z ]*" placeholder="Full name (min: 3)" #fullnameTag="ngModel">
                    <div *ngIf="fullnameTag.invalid && fullnameTag.dirty">
                        <span class="error-msg">Min length is 3<br>Should only contains english letters</span>
                    </div>
                </div>
                <div class="field">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" [(ngModel)]="address" required minlength="6" placeholder="Address (min: 6)" #addressTag="ngModel">
                    <div *ngIf="addressTag.invalid && addressTag.dirty">
                        <span class="error-msg">Min length is 6</span>
                    </div>
                </div>
                <div class="field">
                    <label for="card">Credit card number</label>
                    <input type="text" name="card" id="card" [(ngModel)]="card" minlength="15" maxlength="16" pattern="[0-9]*" placeholder="CCN (15 or 16)" #cardTag="ngModel">
                    <div *ngIf="cardTag.invalid && cardTag.dirty">
                        <span class="error-msg">Invalid credit card number</span>
                    </div>
                </div>
                <div class="purchase">
                    <button type="submit" [disabled]="form.invalid">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>