header {
    text-align: center;
    background: #104457;
    color: #fff;
    padding: 20px;
}

header > h2 {
    font-variant: small-caps;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    margin: 1rem;
}


a {
    color: #ffffff;
    padding: 0.5rem;
    background-color: #49924f;
    margin: 0.25rem;
    display:block;
    width: 100px;
    text-decoration: none;
}